APP_PORT=8010

# Options: DEBUG, INFO, WARN, ERROR, TRACE
LOG_LEVEL=DEBUG

JWT_SECRET=secret

# Default: 15 minutes
ACCESS_TTL_IN_MINUTES=15

# Default: 7 days
REFRESH_TTL_IN_DAYS=7

DATABASE_URL=postgres://username:password@localhost:5432/database
DB_CONNECTIONS=10

# Set true for auto migrations
# MIGRATE=true